h1 {
    color: rgb(0, 0, 0) (0, 0, 0);
    font-size: 24px;
  }
p {
  color: rgb(0, 0, 0);
}
strong, li {
font-weight: bold;
}
strong, li {
text-decoration: underline;
}
a {
  font-style: italic;
}

img {
  width: 400px;
  height: auto;
  border: 1px solid #333;
}
h1 {
  color: red;
}
